@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    padding: 0;
     margin: 0;
}
body{
    font-family:'Inter', sans-serif;
    background-color: #E8E8E8;
    height: 96vh;
     
}
.cabecalho{ /*cabecalho*/
   
}
.principal{/*main*/
    
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0% 0% 0% 10%;
    margin: 0;
}
.principal__entradaDeTexto{ /*section*/

   
}
.entradaDeTexto-Texto{ /*textarea*/
    width: 50vw;
    height: 70vh;
    background-color: #E8E8E8;
    border: none;
    resize: none;
    outline: none;
    font-size: 2.3rem;
}
.criptografar{
    width: 20.5rem;
    height: 4rem;
    background-color: rgb(6, 6, 163);
    border: 1px solid #0A3871;;
    color: white;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}
.descriptografar{
    width: 20.5rem;
    height: 4rem;
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}

.principal__saidaDeTexto{ /*section 2*/
    height: 90vh;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 24px;
    background-color:#ffffff;
    word-wrap: break-word;
    text-overflow: ellipsis;
    hyphens: auto;
    margin-right: 50px;
    letter-spacing: 0em;
    padding: 0%;
    text-align: center;
}
.saidaDeTexto__titulo{
 padding-bottom: 9px;
}
.saidaDeTexto__paragrafo{

}
.saidaDeTexto__mensagem{/*textarea de saida de texto*/
    padding: 15px;
    border-radius: 60px;
    width: 90%;
    height: 500px;  
    overflow-y: scroll;
    outline: none;
    border: none;
    resize: none;
    font-size: 1.3rem;
    scrollbar-width: none; /* Oculta a barra de rolagem no Firefox */
}

#mostrarTexto{
    text-align: center;
}
.copiar{
    width: 20.5rem;
    height: 3.5rem;
    border: 1px solid #0A3871;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin: 0;
}
.rodape{
    font-size: 1rem;
    width: auto;
    margin-top: 30px;
    background-color: #0A3871;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 5px 0;
}
.rodape p{
    padding-top: 20px;
    margin: 0;
    text-align: center;
    color: #E8E8E8;
}